/* import font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Azeret Mono', monospace;
}
/* style for the bg section*/
.Hero-bg{
    height: 680px;
    background-image: url(../assets/Hero-bg.png); /* bg image*/
    background-size: cover;
    background-position: center;
}
.banner{
    position: absolute;
    width: calc(100% - 442px);
    height: 582px;
    left: 221px;
    top: 100px;
    /* flexbox for layout*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.banner-image{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}
.banner-title{
    color: #0D1321;
    font-size: 40px;
    font-weight: 800;
    line-height: 58px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 20px;
}
.banner-description{
    color: #0D1321;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 66px;
    border-radius: 8px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background: #0D1321;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto;
}

/* Why Web Development? */
.section-1{
    width: 1140px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 97px;
    background: #0D132105;
    border-radius: 16px;
}
.content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    text-align: center;
    margin-bottom: 48px;
}
.title-1{
    color: #0D1321;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    margin-bottom: 20px;
}
.p-1{
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 48px;
}
.block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin: 32px 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFFFFF, #FFFFFF00 100%);
}
.block-image{
    width: 274px;
    height: auto;
}
.block div{
    flex: 1;
    margin-right: 20px;
}
.block h3{
    color: #0D1321B3;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.block p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 20px;
}
.block button{
    border: 1px solid #0D1321;
    color: #0D1321;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}


/* video */
.section-2 {
    width: 1140px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 97px;
    border-radius: 16px;
}
.content-2{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.title-2{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px;
}
.description-2{
    color: #0D1321;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.video{
    position: relative;
    width: 95%;
    max-width: 1049px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid #0D132133;
    border-radius: 16px;
    overflow: hidden; /* for preventing content overflow*/
}
.video iframe{
    width: 100%;
    height: 590px;
    border-radius: 16px;
}
.youtube{
    position: relative;
    width: 100%;
    height: auto;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
}


/* My Current Target */
.section-3{
    width: 100%;
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}
.content-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title-3{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}
.p-3{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 800px;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.card{
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.3s;
    min-width: 200px;
}
.html-card{
    background-color: #f0f8ff;
}
.css-card{
    background-color: #e6e6fa;
}
.js-card{
    background-color: #fffacd;
}
.card h3{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.card p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
}
.learn-more-link{
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}
.learn-more-link:hover{
    text-decoration: none;
}



/* Support Section */
.support-section{
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-content{
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
}
.support-content h1{
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.support-content p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-bottom: 30px;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
#support-input{
    color: #0D132166;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
    min-width: 300px;
}
#submit-btn{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: #f0f0f0;
}




/* footer */
#footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 50px;
    border-radius: 16px;
    background: #0D132108;
}
.last-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}
.footer-head{
    font-size: 16px;
    font-weight: bold;
}
.social-icons a{
    text-decoration: none;
    margin-left: 10px;
}
.social-icons img{
    width: 24px;
    height: 24px;
}
